<form autocomplete="off">
    <div class="form-group">
        <label for="label">{{localize "MCT.DetailSettings.Label"}}</label>
        <input type="text" id="label" name="label" value="{{tab.label}}">
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize "MCT.Settings.Save"}}
        </button>
    </footer>
</form>